<div class="container">
  <div class="row">
    <div class="col-md-8 m-x-auto pull-xs-none vamiddle" style="margin-top: 173px;">
      <div class="card-group ">
        <div class="card p-a-2">
          <div class="card-block">
            <h1>{{ 'T_LOG_IN' | translate }}</h1>
            <p class="text-muted">{{ 'T_LOGIN_TEXT' | translate }}</p>
            <button type="button"
                    class="btn btn-google-plus"
                    style="margin-bottom: 4px"
                    (click)="login('google')">
              <span>Google</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
