<div class="card" *ngIf="model">
  <div class="card-header">
    <b>{{ 'T_FORM_PREVIEW' | translate }} {{ model.name }}</b>
    <div class="card-actions">
      <button type="button"
              class="btn"
              (click)="create(model);">
        <i class="fa fa-copy"></i>
      </button>
      <button type="button"
              class="btn"
              [routerLink]="['/admin/forms/', model.id, 'edit']">
        <i class="icon-pencil"></i>
      </button>
    </div>
  </div>
  <div class="card-block">
    <form class="container">
      <div class="row" *ngFor="let element of model.elements">
        <div [ngSwitch]="element.kind">
          <!--For checkbox groups-->
          <ng-template [ngSwitchCase]="FormElementType.Checkboxgroup">
            <h6>{{ element.caption }}</h6>
            <div class="form-check form-check-inline" *ngFor="let item of element.values">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="{{ item.value }}">
                {{ item.caption }}
              </label>
            </div>
          </ng-template>

          <!--For checkbox-->
          <ng-template [ngSwitchCase]="FormElementType.Checkbox">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="{{ element.value }}">
                {{ element.caption }}
              </label>
            </div>
          </ng-template>

          <!--For select-->
          <ng-template [ngSwitchCase]="FormElementType.Select">
            <h6>{{ element.caption }}</h6>
            <select class="form-control">
              <option *ngFor="let item of element.values" value="{{ item.value }}">{{ item.caption }}</option>
            </select>
          </ng-template>

          <!--For radio-->
          <ng-template [ngSwitchCase]="FormElementType.Radio">
            <h6>{{ element.caption }}</h6>
            <div class="form-check form-check-inline" *ngFor="let item of element.values">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio" value="{{ item.value }}">
                {{ item.caption }}
              </label>
            </div>
          </ng-template>

          <!--For textarea-->
          <ng-template [ngSwitchCase]="FormElementType.Textarea">
            <div class="form-group">
              <label for="textarea">{{ element.caption }}</label>
              <textarea class="form-control" id="textarea" rows="3"></textarea>
            </div>
          </ng-template>

          <!--For textfield-->
          <ng-template [ngSwitchCase]="FormElementType.Textfield">
            <div class="form-group">
              <label for="textfield">{{ element.caption}}</label>
              <input type="text" class="form-control" id="textfield">
            </div>
          </ng-template>

          <!--For another types-->
          <ng-template ngSwitchDefault>
            <div class="form-group row">
              <label for="{{ element.kind }}" class="col-2 col-form-label">{{ element.caption }}</label>
              <div class="col-10">
                <input class="form-control"
                       type="{{ element.kind }}"
                       placeholder="{{ element.value }}"
                       value="{{ element.value }}"
                       id="{{ element.kind }}">
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
