<form #elementForm="ngForm">
  <div class="form-group row"
       [ngClass]="{'has-success': captionElement.valid, 'has-danger': !captionElement.valid && captionElement.touched }">
    <label for="caption-{{ index }}" class="col-form-label col-4  required">{{ 'T_FORM_CAPTION' | translate }}</label>
    <div class="col-8">
      <input type="text"
             class="form-control"
             id="caption-{{ index }}"
             name="caption-{{ index }}"
             #captionElement="ngModel"
             required
             placeholder="{{ 'T_FORM_ENTER_CAPTION' | translate }}"
             [(ngModel)]="element.caption">

      <div class="form-errors"
           *ngIf="captionElement.errors && captionElement.touched">
        <div class="form-control-feedback" *ngIf="captionElement.errors['required']">{{ 'T_FORM_FIELD_IS_REQUIRED' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="form-group row checkbox mb-1">
    <label class="col-form-label col-4 " for="required-{{ index }}">{{ 'T_FORM_REQUIRED' | translate}}</label>
    <div class="col-8">
      <label class="switch switch-icon switch-primary">
        <input type="checkbox"
               id="required-{{ index }}"
               name="required-{{ index }}"
               class="switch-input" [(ngModel)]="element.required" checked="true">
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
  </div>

  <!-- Values are required -->

  <div *ngIf="requireValue(element.kind)">
    <h6 class="mt-2">{{ 'T_FORM_EDIT_VALUES' | translate }}</h6>
    <hr/>
    <form #addNewValueForm="ngForm">
      <div class="form-group row mb-1">
        <label class="col-form-label col-4 " for="value-caption-{{ index }}">{{ 'T_FORM_CAPTION' | translate}}</label>
        <div class="col-8">
          <input #newCaption
                 id="value-caption-{{ index }}"
                 name="value-caption-{{ index }}"
                 type="text"
                 class="form-control"
                 ngModel
                 required>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-sm btn-success"
                [disabled]="!addNewValueForm.valid"
                (click)="addValue(newCaption.value); addNewValueForm.reset();">
          <i class="mr-h fa fa-plus"></i> {{ 'T_ACTION_ADD' | translate }}
        </button>
      </div>
    </form>

    <table class="table table-striped mt-2">
      <th>{{ 'T_FORM_CAPTION' | translate}}</th>
      <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
      <tbody>
        <tr *ngFor="let value of element.values">
          <td>{{ value.caption }}</td>
          <td class="actions-column">
            <button type="button"
                    class="btn btn-danger btn-sm"
                    (click)="deleteValue(value)">
              <i class="mr-h fa fa-remove"></i>
              {{ 'T_ACTION_DELETE' | translate }}
            </button>
          </td>
        </tr>
        <tr *ngIf="!element.values.length">
          <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!element.values.length">
      <div class="alert alert-danger">
        {{ 'T_FORM_VALUES_ARE_REQUIRED' | translate }}
      </div>
    </div>

  </div>
</form>
