<div class="card" *ngIf="isLoaded">
  <div class="card-header"><b>{{ 'T_FORMS' | translate }}</b></div>
  <div class="card-block">
    <button class="btn btn-primary"
            type="button"
            title="{{ 'T_ACTION_CREATE' | translate }}"
            [routerLink]="['/admin/forms/create']">
      <i class="mr-h fa fa-file-o"></i>
      {{ 'T_ACTION_CREATE' | translate }}
    </button>

    <table class="table table-striped mt-1">
      <thead>
      <tr>
        <th>#</th>
        <th>{{ 'T_FORM_NAME' | translate }}</th>
        <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let model of list">
        <td>{{ model.id }}</td>
        <td><a [routerLink]="['/admin/forms/', model.id]">{{ model.name }}</a></td>
        <td class="actions-column">
          <button type="button"
                  class="btn btn-sm btn-danger ml-1"
                  bsConfirm
                  [message]="'T_CONFIRM_MESSAGE_DELETE_FORM' | translate"
                  (confirm)="delete(model.id)">

            <i class="fa fa-trash"></i>&nbsp;
            {{ 'T_ACTION_DELETE' | translate }}
          </button>
        </td>
      </tr>

      <tr *ngIf="!list.length">
        <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
      </tr>
      </tbody>
    </table>

    <bs-pagination [meta]="meta"
                   (queryParamsChange)="pageQueryParamsChanged($event)"></bs-pagination>

  </div>
</div>
