<div class="card" *ngIf="isLoaded">
  <div class="card-header"><b>{{'T_PROFILE_SETTINGS' | translate}}</b></div>

  <div class="card-block">
    <form (ngSubmit)="save(); userForm.reset()" #userForm="ngForm">
      <!-- Name -->
      <div class="form-group row"
           [ngClass]="{'has-success': name.valid, 'has-danger': !name.valid && name.touched }">

        <label for="name" class="col-form-label col-md-3 required">{{ 'T_USER_NAME' | translate }}</label>
        <div class="col-md-9">
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 #name="ngModel"
                 required
                 pattern=".*[^ ].*"
                 placeholder="{{ 'T_FORM_ENTER_NAME' | translate }}"
                 [(ngModel)]="model.name">

          <div class="form-errors"
               *ngIf="name.errors && name.touched">
            <div class="form-control-feedback" *ngIf="name.errors['required']">{{ 'T_FORM_FIELD_IS_REQUIRED' | translate }}</div>
            <div class="form-control-feedback" *ngIf="!!name.errors['pattern']">{{ 'T_ERROR_TEXT_PATTERN' | translate }}</div>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group row"
           [ngClass]="{'has-success': email.valid, 'has-danger': !email.valid && email.touched }">

        <label for="email" class="col-form-label col-md-3 required">
          {{ 'T_USER_EMAIL' | translate }}
        </label>
        <div class="col-md-9">
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 #email="ngModel"
                 pattern=".*[^ ].*"
                 required
                 placeholder="{{ 'T_FORM_ENTER_EMAIL' | translate }}"
                 [(ngModel)]="model.email">
          <div class="form-errors"
               *ngIf="email.errors && email.touched">
            <div class="form-control-feedback" *ngIf="email.errors['required']">{{ 'T_FORM_FIELD_IS_REQUIRED' | translate }}</div>
            <div class="form-control-feedback" *ngIf="!!email.errors['pattern']">{{ 'T_ERROR_TEXT_PATTERN' | translate }}</div>
          </div>
        </div>
      </div>

      <!--Gender-->
      <div class="form-group row"
           [ngClass]="{'has-success': gender.valid, 'has-danger': !gender.value && gender.touched }">
        <label for="gender" class="col-form-label col-md-3 required">{{ 'T_USER_GENDER' | translate }}</label>
        <div class="col-md-9">
          <select id="gender"
                  #gender="ngModel"
                  name="gender"
                  required
                  class="form-control col-xs-6"
                  [(ngModel)]="model.gender">
            <option *ngFor="let gender of genders" [ngValue]="gender">{{ 'T_USER_GENDER_' + gender.toUpperCase() | translate }}</option>
          </select>
        </div>
      </div>

      <!--Time zone-->
      <div class="form-group row"
           [ngClass]="{'has-success': timezone.valid, 'has-danger': !timezone.value && timezone.touched }">
        <label for="timezone" class="col-form-label col-md-3 required">{{ 'T_USER_TIME_ZONE' | translate }}</label>
        <div class="col-md-9">
          <select id="timezone"
                  #timezone="ngModel"
                  name="timezone"
                  required
                  class="form-control col-xs-6"
                  [(ngModel)]="model.timezone">
            <option *ngFor="let timezone of timezones" [ngValue]="timezone">{{ 'T_USER_TIME_ZONE_' + timezone | translate }}</option>
          </select>
        </div>
      </div>
      <hr/>

      <div class="text-right">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!userForm.valid">
          {{'T_ACTION_UPDATE' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
