<div class="card">
  <div class="card-header">
    <p class="text-center col-md-3 mb-0">Your profile</p>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="table col-md-9">
          <tbody *ngIf="fakeUser">
            <tr>
              <td >{{'T_USER_NAME' | translate}}:</td>
              <td>{{fakeUser.name}}</td>
            </tr>
            <tr>
              <td>{{'T_USER_EMAIL' | translate}}:</td>
              <td>{{fakeUser.email}}</td>
            </tr>
          </tbody>
        <button class="btn btn-primary"
                type="button"
                [routerLink]="['edit']">{{'T_PROFILE_EDIT' | translate}}</button>
        </div>

      </div>
  </div>
</div>
