<div class="card" *ngIf="model">
  <div class="card-header">{{ 'T_YOUR_PROFILE' | translate }}</div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_NAME' | translate}}</small>
        <div class="h6">{{ model.name }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_EMAIL' | translate}}</small>
        <div class="h6">{{ model.email }}</div>
      </div>
    </div>

    <div class="mt-2">
      <button type="button"
              class="btn btn-primary"
              [routerLink]="['edit']">{{'T_PROFILE_EDIT' | translate}}
      </button>
    </div>
  </div>
</div>
