<div class="card" *ngIf="model">
  <div class="card-header"><b>{{ 'T_YOUR_PROFILE' | translate }}</b></div>

  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ model.name }}</h2>
      </div>
      <div class="col-md-4 text-right">
        <button type="button"
                class="btn btn-primary"
                [routerLink]="['edit']">{{'T_PROFILE_EDIT' | translate}}
        </button>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_NAME' | translate}}</small>
        <div class="h6">{{ model.name }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_EMAIL' | translate}}</small>
        <div class="h6">{{ model.email }}</div>
      </div>
    </div>
  </div>
</div>
