<div class="row mt-2">
  <div class="col-md-6 offset-md-3">
    <pagination class="justify-content-center"
                [previousText]="'&laquo;'"
                [nextText]="'&raquo;'"
                [totalItems]="meta.total"
                [ngModel]="meta.number"
                [itemsPerPage]="meta.size"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>

  <div class="col-md-3 text-right">
    <div class="btn-group">
      <button ngDefaultControl
              class="btn btn-secondary"
              *ngFor="let item of sizes"
              [ngClass]="{ 'active' : item === meta.size }"
              (click)="sizeChanged(item)"> {{ item }}
      </button>
    </div>
  </div>
</div>
