<nav class="row">
  <div class="ml-auto mr-auto">
    <pagination [previousText]="'T_PAGINATION_PREVIOUS_TEXT' | translate "
                [nextText]="'T_PAGINATION_NEXT_TEXT' | translate"
                [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"
                [itemsPerPage]="itemsPerPage"></pagination>
  </div>

  <div class="text-right">
    <div class="btn-group">
      <label ngDefaultControl
             class="btn btn-sm btn-secondary"
             [ngClass]="{active: (itemsPerPage === item)}"
             *ngFor="let item of variants"
             (click)="changeItemsPerPage(item)"> {{ item }}
      </label>
    </div>
  </div>
</nav>
