<div class="card" *ngIf="model">
  <div class="card-header">{{ 'T_USER_DETAILS' | translate }}</div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_NAME' | translate}}</small>
        <div class="h6">{{ model.name }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_EMAIL' | translate}}</small>
        <div class="h6">{{ model.email }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_ROLE' | translate}}</small>
        <div class="h6">{{ 'T_USER_ROLE_' + model.role.toUpperCase() | translate }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_USER_STATUS' | translate}}</small>
        <div class="h6">{{ 'T_USER_STATUS_' + model.status.toUpperCase() | translate }}</div>
      </div>
    </div>

    <div class="text-right mt-1">
      <a [routerLink]="['/admin/users']" class="card-link">{{ 'T_ACTION_GO_BACK' | translate }}</a>
    </div>
  </div>
</div>
