<ul class="nav navbar-nav">
  <li *ngIf="!authenticationService.isLoggedIn" class="nav-item">
    <a [routerLink]="['/login']"
       class="nav-link">
      {{ 'T_LOG_IN' | translate }}
    </a>
  </li>
  <li *ngIf="authService.isLoggedIn" class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle nav-link"
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="true">
  <span class="">
        {{ authService.user.name }}
  </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>{{ 'T_LOG_OUT' | translate }}</a>
    </div>
  </li>
</ul>
