<div class="card" *ngIf="isLoaded">
  <div class="card-header">
    <b [ngSwitch]="editMode">
      <ng-template [ngSwitchCase]="true">{{ 'T_ACTION_EDIT' | translate }}
        <span *ngIf="model">{{ model.name }}</span>
      </ng-template>
      <ng-template ngSwitchDefault>{{ 'T_ACTION_CREATE' | translate }}</ng-template>
    </b>
  </div>

  <div class="card-block">
    <form class="form form-horizontal"
          (ngSubmit)="save(); userForm.reset()" #userForm="ngForm">

      <!-- Name -->
      <div class="form-group row"
           [ngClass]="{'has-success': name.valid, 'has-danger': !name.valid && name.touched }">

        <label for="name" class="col-form-label col-md-3 required">{{ 'T_USER_NAME' | translate }}</label>
        <div class="col-md-9">
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 #name="ngModel"
                 required
                 pattern=".*^[\S].*"
                 placeholder="{{ 'T_FORM_ENTER_NAME' | translate }}"
                 [(ngModel)]="model.name">


          <div class="form-errors"
               *ngIf="name.errors && name.touched">
            <div class="form-control-feedback" *ngIf="name.errors['required']">{{ 'T_FORM_FIELD_IS_REQUIRED' | translate }}</div>
            <div class="form-control-feedback" *ngIf="!!name.errors['pattern']">{{ 'T_ERROR_TEXT_PATTERN' |
              translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group row"
           [ngClass]="{'has-success': email.valid, 'has-danger': !email.valid && email.touched }">

        <label for="email" class="col-form-label col-md-3 required">
          {{ 'T_USER_EMAIL' | translate }}
        </label>
        <div class="col-md-9">
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 #email="ngModel"
                 required
                 pattern=".*^[\S].*"
                 placeholder="{{ 'T_FORM_ENTER_EMAIL' | translate }}"
                 [(ngModel)]="model.email">
          <div class="form-errors"
               *ngIf="email.errors && email.touched">
            <div class="form-control-feedback" *ngIf="email.errors['required']">{{ 'T_FORM_FIELD_IS_REQUIRED' | translate }}</div>
            <div class="form-control-feedback" *ngIf="!!email.errors['pattern']">{{ 'T_ERROR_TEXT_PATTERN' | translate }}</div>
          </div>
        </div>
      </div>

      <!-- Role -->
      <div class="form-group row"
           [ngClass]="{'has-success': gender.valid, 'has-danger': !gender.valid && gender.touched }">
        <label for="role" class="col-form-label col-md-3 required">{{ 'T_USER_ROLE' | translate }}</label>
        <div class="col-md-9">
          <select name="role"
                  id="role"
                  class="form-control col-xs-6"
                  #role="ngModel"
                  [(ngModel)]="model.role">
            <option *ngFor="let role of roles"
                    [ngValue]="role">
              {{ 'T_USER_ROLE_' + role.toUpperCase() | translate }}
            </option>
          </select>
        </div>
      </div>

      <!--Gender-->
      <div class="form-group row"
           [ngClass]="{'has-success': gender.valid, 'has-danger': !gender.value && gender.touched }">
        <label for="gender" class="col-form-label col-md-3 required">{{ 'T_USER_GENDER' | translate }}</label>
        <div class="col-md-9">
          <select id="gender"
                  name="gender"
                  #gender="ngModel"
                  class="form-control col-xs-6"
                  required
                  [(ngModel)]="model.gender">
            <option *ngFor="let gender of genders" [ngValue]="gender">{{ 'T_USER_GENDER_' + gender.toUpperCase() | translate }}</option>
          </select>
        </div>
      </div>
      <hr/>

      <div class="text-right">

        <button type="submit"
                class="btn btn-primary mt-0"
                [disabled]="!userForm.valid">
          <span [ngSwitch]="editMode">
            <ng-template [ngSwitchCase]="true">{{ 'T_ACTION_UPDATE' | translate }}</ng-template>
            <ng-template ngSwitchDefault>{{ 'T_ACTION_CREATE' | translate }}</ng-template>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
