<div class="card">
  <div class="card-header">{{ 'T_USERS' | translate }}</div>
  <div class="card-block">
    <button type="button"
            class="btn btn-primary"
            [routerLink]="['/users/create']">{{ 'T_ACTION_CREATE' | translate }}
    </button>

    <table class="table table-striped table-sm mt-1">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'T_USER_NAME' | translate }}</th>
          <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of list">
          <td>{{ model.id }}</td>
          <td><a [routerLink]="['/users', model.id]">{{ model.name }}</a></td>
          <td class="actions-column">
            <button type="button"
                    class="btn btn-sm btn-success"
                    [routerLink]="['/users', model.id, 'edit']">{{ 'T_ACTION_EDIT' | translate }}
            </button>


            <button type="button"
                    class="btn btn-sm btn-danger"
                    (click)="delete(model.id)">{{ 'T_ACTION_DELETE' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


