<div class="card">
  <div class="card-header">{{ 'T_USERS' | translate }}</div>
  <div class="card-block">
    <button type="button"
            class="btn btn-primary"
            [routerLink]="['/users/create']">{{ 'T_ACTION_CREATE' | translate }}
    </button>

    <table class="table mt-1">
      <tr>
        <th>{{ 'T_USER_NAME' | translate }}</th>
        <th>{{ 'T_ACTION' | translate }}</th>
      </tr>
      <tr *ngFor="let model of list">
        <td><a [routerLink]="['/users', model.id]">{{ model.name }}</a></td>
        <td>
          <button type="button"
                  class="btn btn-sm btn-success"
                  [routerLink]="['/users', model.id, 'edit']">{{ 'T_ACTION_EDIT' | translate }}
          </button>


          <button type="button"
                  class="btn btn-sm btn-danger"
                  (click)="delete(model.id)">{{ 'T_ACTION_DELETE' | translate }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>


