<header class="app-header navbar justify-content-lg-between justify-content-around">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
  <div class="nav">
    <a class="navbar-brand" routerLink="/">BW Assessment</a>
    <ul class="nav navbar-nav hidden-md-down">
      <li class="nav-item">
        <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav">
    <li *ngIf="checkLogin()" class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle nav-link"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="true">
        {{ user.name }}
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>{{ 'T_LOG_OUT' | translate }}</a>
      </div>
    </li>
    <bs-language-selector></bs-language-selector>

  </ul>
</header>
