<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>

  <a class="navbar-brand" routerLink="/">{{titleNav}}</a>

  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <bs-language-selector class="hidden-sm-down"></bs-language-selector>

    <li class="nav-item dropdown pl-2 pr-1">
      <a class="nav-link dropdown-toggle nav-link"
         data-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="true">{{ user.name }}</a>

      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user-o"></i>{{ 'T_PROFILE' | translate }}</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>{{ 'T_LOG_OUT' | translate }}</a>
      </div>
    </li>
  </ul>
</header>
