<accordion class="group-inner-accordion">
  <accordion-group *ngFor="let group of list"
                   class="accordion-inner-group"
                   #accordionGroup
                   [isOpen]="innerGroupState">
    <div accordion-heading>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p class="col-md-1 mr-0 mt-1">{{ group.id }}</p>
          <div class="col-md-6 inner-element">
            <a [routerLink]="['/admin/groups/', group.id]">{{group.name}}</a>
            <button *ngIf="group.hasChildren" type="button" class="btn btn-link btn-sm">
              <i class="fa"
                 [ngClass]="{'fa-chevron-up': accordionGroup?.isOpen, 'fa-chevron-down': !accordionGroup?.isOpen }"></i>
            </button>
          </div>
          <div class="col-md-5 text-right actions-column pr-3">
            <button type="button"
                    class="btn btn-sm btn-danger ml-1"
                    title="{{ 'T_ACTION_DELETE' | translate }}"
                    bsConfirm
                    [message]="'T_CONFIRM_MESSAGE_DELETE_GROUP' | translate"
                    (confirm)="delete(group.id)"><i class="fa fa-trash"></i>&nbsp;{{ 'T_ACTION_DELETE' | translate }}
            </button>
          </div>
        </li>
      </ul>
    </div>
      <bs-child-group-list *ngIf="group.hasChildren" embedded [parentId]="group.id"></bs-child-group-list>
  </accordion-group>
</accordion>
