<form class="form form-horizontal"
      (ngSubmit)="addUser(user.id); groupForm.reset()" #groupForm="ngForm">
  <div class="form-group row"
       [ngClass]="{'has-success': user.valid, 'has-danger': !user.valid && user.touched }">
    <label for="user" class="col-form-label col-md-3">{{ 'T_GROUP_PARENT' | translate }}</label>
    <div class="col-md-9">
      <select name="user"
              id="user"
              class="form-control"
              #user="ngModel"
              [(ngModel)]="user.id"
              required>
        <option *ngFor="let user of users"
                [ngValue]="user.id">
          {{user.name}}
        </option>
      </select>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-0"
    [disabled]="!groupForm.valid">
    {{ 'T_ACTION_ADD_USERS_TO_GROUP' | translate }}
  </button>
</form>

