<div class="card">
  <div class="card-header"><b>{{ 'T_GROUPS' | translate }}</b></div>
  <div class="card-block">
    <table class="table table-striped mt-1" *ngIf="isLoaded">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'T_GROUP_NAME' | translate }}</th>
          <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of list">
          <td>{{ group.id }}</td>
          <td><a [routerLink]="['/admin/groups', group.id]">{{ group.name }}</a></td>
          <td class="actions-column">
            <button type="button"
                    class="btn btn-sm btn-danger ml-1"
                    title="{{ 'T_ACTION_DELETE' | translate }}"
                    bsConfirm
                    (confirm)="delete(group.id)"><i class="fa fa-trash"></i>&nbsp;{{ 'T_ACTION_DELETE' | translate }}
            </button>
          </td>
        </tr>

        <tr *ngIf="!list.length">
          <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
