<div class="card">
  <div class="card-header"><b>{{ 'T_GROUPS_USERS' | translate }}</b></div>
  <div class="card-block" *ngIf="isLoaded">
    <button class="btn btn-primary"
            type="button"
            role="button"
            title="{{ 'T_ACTION_ADD_USERS_TO_GROUP' | translate }}"
            (click)="modalForm.show()">
      <i class="fa fa-user mr-h"></i>{{ 'T_ACTION_ADD_USERS_TO_GROUP' | translate }}
    </button>

    <!--Group user list-->
    <table [id]="listName" class="table table-striped mt-1">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'T_USER_NAME' | translate }}</th>
          <th>{{ 'T_USER_EMAIL' | translate }}</th>
          <th>{{ 'T_USER_ROLE' | translate }}</th>
          <th>{{ 'T_USER_STATUS' | translate }}</th>
          <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of list">
          <td>{{ model.id }}</td>
          <td><a [routerLink]="['/admin/users', model.id]">{{ model.name }}</a></td>
          <td>{{ model.email }}</td>
          <td>
            <span class="badge badge-md badge-pill"
                  [ngClass]="{ 'badge-danger': model.role === 'admin',
                               'badge-default': model.role === 'user' }">
            {{ 'T_USER_ROLE_' + model.role.toUpperCase() | translate }}</span>
          </td>
          <td>
            <span class="badge badge-md badge-pill"
                  [ngClass]="{ 'badge-primary': model.status === 'new',
                               'badge-success': model.status === 'approved' }">
              {{ 'T_USER_STATUS_' + model.status.toUpperCase() | translate }}</span>
          </td>
          <td class="actions-column">
            <button type="button"
                    role="button"
                    class="btn btn-sm btn-danger ml-1"
                    bsConfirm
                    (confirm)="delete(model.id)">
              <i class="fa fa-remove"></i>&nbsp;
              {{ 'T_ACTION_REMOVE' | translate }}
            </button>
          </td>
        </tr>

        <tr *ngIf="!list.length">
          <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
        </tr>
      </tbody>
    </table>

    <bs-pagination [meta]="meta"
                   (queryParamsChange)="pageQueryParamsChanged($event)"></bs-pagination>

  </div>
</div>

<!-- Adding user to group modal-->
<bs-users-add-modal #modalForm
                    [groupId]="groupId"
                    (usersAdded)="usersAdded()"></bs-users-add-modal>
