<div bsModal #modal="bs-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ 'T_ACTION_ADD_USERS_TO_GROUP' | translate }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.hide(); groupUserForm.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="form form-horizontal"
              (ngSubmit)="submit(); groupUserForm.reset()"
              #groupUserForm="ngForm">
          <div class="form-group row"
               [ngClass]="{'has-success': users.valid, 'has-danger': !users.valid && users.touched }">
            <label for="users" class="col-form-label col-md-3 required">{{ 'T_USERS' | translate }}</label>
            <div class="col-md-9">
              <ng-select ngModel
                         #select="ngModel"
                         name="select"
                         [multiple]="true"
                         (selected)="selectUser($event)"></ng-select>
              <select name="user"
                      id="users"
                      class="form-control mt-1"
                      multiple
                      required
                      #users="ngModel"
                      [(ngModel)]="selectedUsers">
                <option *ngFor="let user of availableUsers"
                        [selected]="isSelected(user)"
                        [ngValue]="user.id">
                  {{ user.name }} ({{ user.email }})
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="modal.hide(); groupUserForm.reset(); select.active = [];">{{ 'T_ACTION_CANCEL' | translate }}
        </button>

        <button type="submit"
                class="btn btn-primary"
                (click)="submit(); groupUserForm.reset(); select.active = [];"
                [disabled]="selectedUsers === null">
          {{ 'T_ACTION_ADD_USERS_TO_GROUP' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
