<div bsModal #modal="bs-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ 'T_ACTION_ADD_USERS_TO_GROUP' | translate }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="form form-horizontal"
              (ngSubmit)="submit();">
          <div class="form-group row"
               [ngClass]="{'has-success': users.valid, 'has-danger': !users.valid && users.touched }">
            <label class="col-form-label col-md-3 required">{{ 'T_USERS' | translate }}</label>
            <div class="col-md-8">
              <select2 id="users"
                       #users
                       [data]="availableUsers"
                       [width]="570"
                       [options]="options"
                       (valueChanged)="valueChanged($event)"></select2>
              <span class="text-muted">{{'T_ACTION_MULTIPLE_SELECT' | translate }}</span>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="modal.hide();;">{{ 'T_ACTION_CANCEL' | translate }}
        </button>

        <button type="submit"
                class="btn btn-primary"
                (click)="submit();"
                [disabled]="!selectedUsers.length">
          {{ 'T_ACTION_ADD_SELECTED_USERS_TO_GROUP' | translate }}
        </button>

        <button type="button"
                class="btn btn-primary"
                (click)="addAll()"
                [disabled]="!availableUsers.length || selectedUsers.length === availableUsers.length">
          {{ 'T_ACTION_SELECT_ALL_USERS_TO_GROUP' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
