<ul class="list-group mb-2">
  <!--Search-->
  <bs-search [items]="users"
             (itemsSearch)="userSearch($event)"></bs-search>

  <li class="list-group-item"
      *ngFor="let userObj of users"
      (click)="selectUser(userObj)">
    <i [ngClass]="{'fa-check-circle-o' : userObj.isAnswered,
                   'fa-circle-o': !userObj.isAnswered}"
       class="fa mr-h"></i>
    {{ userObj.user.name }}
    <i *ngIf="!!selectedItem && selectedItem['user'].id === userObj.user.id" class="icon-arrow-right-circle pl-1"></i>
  </li>

  <!--Surveys-->
  <li class="mt-2 mb-h list-unstyled"><b>{{ 'T_SURVEYS' | translate }}</b></li>
  <ng-container *ngFor="let survey of surveys">
    <li class="list-group-item"
        *ngFor="let formObj of survey.forms"
        (click)="selectSurvey(formObj)">
      <i [ngClass]="{'fa-check-circle-o' : !!formObj.answers.length,
                     'fa-circle-o': !formObj.answers.length}"
         class="fa mr-h"></i>
      {{ formObj.form.name }}
      <i *ngIf="selectedItem === formObj" class="icon-arrow-right-circle pl-1"></i>
    </li>
  </ng-container>
</ul>
