:host #sidebar-container {
  max-height: calc(100vh - 10rem);
}

:host #sidebar-container.sticky {
  position: fixed;
  top: 0;
  margin-top: 75px;
}

:host .list-group {
  overflow-y: auto;
  max-height: calc(100vh - 20rem);
}

:host .list-group-item {
  min-height: 48px;
}
