<div *ngIf="isLoaded" [ngSwitch]="inline">
  <!--Inline forms-->
  <ng-template [ngSwitchCase]="true">
    <div class="row">
      <div class="col-4">
        <bs-search [items]="list"
                   (itemsSearch)="userSearch($event)"></bs-search>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item row inline"
          *ngFor="let item of list">
        <div class="col-4">
          <div class="inline-user">
            {{ item.user.name }}
          </div>
        </div>
        <div class="col-8 pr-0">
          <div class="inline-form">
            <bs-user-assessment-form inline
                                     #formComponent
                                     [user]="item.user"
                                     [id]="item.forms[0].form.id"
                                     [status]="status"
                                     [cleared]="cleared"
                                     [queryParams]="queryParams"
                                     (formChange)="formChanged($event);"></bs-user-assessment-form>
          </div>
        </div>
      </li>
    </ul>

    <div class="text-right mt-1" *ngIf="status === EventStatus.InProgress">
      <button type="button"
              class="btn btn-default mt-0"
              [disabled]="!answers.length || isClear"
              (click)="clear();">
        {{ 'T_ACTION_CLEAR' | translate }}
      </button>
      <button type="submit"
              role="button"
              class="btn btn-primary mt-0"
              [disabled]="!answers.length"
              (click)="save();">
        {{ 'T_ACTION_SAVE' | translate }}
      </button>
    </div>
  </ng-template>

  <ng-template ngSwitchDefault>
    <!--Classic-->
    <div class="row">
      <div class="col-md-4">
        <bs-assessment-object-list [list]="list"
                                   (selectedItemChange)="displayItem($event)"></bs-assessment-object-list>
      </div>

      <div class="col-md-8"
           *ngIf="assessmentObject"
           [ngSwitch]="assessmentObject.hasOwnProperty('forms')">
        <ng-template [ngSwitchCase]="true">
          <tabset>
            <tab *ngFor="let formObj of assessmentObject.forms">
              <ng-template tabHeading>
                {{ formObj.form.name }}
              </ng-template>
              <bs-user-assessment-form [user]="assessmentObject.user"
                                       #formComponent
                                       [id]="formObj.form.id"
                                       [status]="status"
                                       [queryParams]="queryParams"
                                       (formSave)="formSaved()"
                                       (formChange)="formChanged($event);"></bs-user-assessment-form>
            </tab>
          </tabset>
        </ng-template>
        <!--Survey-->
        <ng-template [ngSwitchCase]="false">
          <tabset>
            <tab>
              <ng-template tabHeading>
                {{ assessmentObject.form.name }}
              </ng-template>
              <bs-user-assessment-form [id]="assessmentObject.form.id"
                                       #formComponent
                                       [status]="status"
                                       [queryParams]="queryParams"
                                       (formSave)="formSaved()"
                                       (formChange)="formChanged($event);"></bs-user-assessment-form>
            </tab>
          </tabset>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>

