<div bsModal #commentModal="bs-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close pull-right mb-1"
                aria-label="Close"
                (click)="commentModal.hide(); commentForm.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
        <form #commentForm="ngForm"
              class="form-group ml-1 mr-1 mt-1"
              (submit)="addComment(); commentModal.hide(); commentForm.reset()">
            <textarea type="text"
                      row="6"
                      class="form-control mb-1 mt-1"
                      name="comment"
                      id="name"
                      #comment="ngModel"
                      [(ngModel)]="commentItem.text"></textarea>
          <div class="text-right">
            <button type="button"
                    class="btn btn-danger"
                    (click)="commentModal.hide(); commentForm.reset()">{{ 'T_ACTION_CANCEL' | translate }}
            </button>
            <button type="submit"
                    class="btn btn-primary">{{ 'T_ACTION_SAVE' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
