:host {
  position: relative;
}

:host #sidebar-container {
  max-height: calc(100vh - 18rem);
  overflow: hidden;

  #users.with-surveys {
    overflow-y: auto;
    max-height: calc(100vh - 40rem);
  }

  #surveys {
    overflow-y: auto;
    max-height: calc(100vh - 45rem);
  }
}

@media (min-width: 772px) {
  :host #sidebar-container.sticky {
    position: fixed;
    top: 0;
    margin-top: 75px;
    max-height: calc(100vh - 10rem);
    width: 27%;

    #users.with-surveys {
      max-height: calc(100vh - 35rem);
    }

    #surveys {
      max-height: calc(100vh - 40rem);
    }
  }
}

:host .list-group-item {
  min-height: 65px;
}

:host .user-filter-label {
  padding: 5px;
  color: #b0bec5;
  border: 1px solid transparent;
}

:host .user-filter-label:hover {
  border: 1px solid #b0bec5;
}

:host .user-filter-label.active {
  background-color: #b0bec5;
  color: #fff;
}

.assessment-object-list {
  li {
    border-bottom-width: 0;

    &:last-of-type {
      border-bottom-width: 1px;
    }
  }
}

.assessment-survey-list-item,
.assessment-user-list-item {
  background-color: #eaeaea;

  .name {
    max-width: 60%;
    line-height: normal;
  }
}

.assessment-survey-list-item.current,
.assessment-user-list-item.current {
  background-color: #f6f6f6;
}

.assessment-survey-list-item .current-arrow,
.assessment-user-list-item .current-arrow {
  position: absolute;
  right: 20px;
  font-size: 20px;
}

.list-group-item .answered {
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4dbd74;
  color: #fff;
  font-size: 16px;
}

.list-group-item .not-answered {
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #eee;
  color: #fff;
  font-size: 16px;
}

.assessment-user-list-item .answered {
  position: absolute;
  left: 45px;
  margin-top: 15px;
}

.list-type-radio input[type="radio"] {
  display: none;
}
