<div class="form-group form-inline row" *ngIf="!!value">
  <div class="like-dislike"
       *ngFor="let item of element.values; let j = index;">
    <input id="{{ element.id }}"
           name="{{ element.id }}"
           type="radio"
           class="{{item.caption}} col-sm-2 ml-1"
           [value]="item.id"
           [ngModel]="value.valuesIds[0]"
           (ngModelChange)="onLikeDislikeChange($event)">
  </div>
  <input *ngIf="!!value.valuesIds.length"
         name="{{ element.id }}"
         type="text"
         class="form-control ml-1 col-sm-8"
         id="{{ element.id }}"
         #textfield="ngModel"
         [ngModel]="value.text"
         (ngModelChange)="onCommentChange($event)">
</div>
