.like-dislike input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.like {
  position: relative;
}

.dislike {
  position: relative;
}

.like.female:before {
  content: "\f004";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.5rem;
}

.like.male:before {
  content: "\f005";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.5rem;
}

.dislike.female:before {
  content: "\f08a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.5rem;
}

.dislike.male:before {
  content: "\f006";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.5rem;
}

.like-dislike .like.female:hover,
.like-dislike .like.female:checked {
  color: #ff6384;
}

.like-dislike .like.male:hover,
.like-dislike .like.male:checked {
  color: #4bc0c0;
}

.like-dislike .dislike:hover,
.like-dislike .dislike:checked {
  color: #4dbd74;
}
