<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>{{ 'T_NEW_ACCOUNT' | translate }}</h1>
            <p class="text-muted">{{ 'T_NEW_ACCOUNT_TEXT' | translate }}</p>
            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" [(ngModel)]="user.name" class="form-control" placeholder="{{ 'T_NEW_ACCOUNT_NAME' | translate }}">
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <input type="text" [(ngModel)]="user.email" class="form-control" placeholder="{{ 'T_NEW_ACCOUNT_EMAIL' | translate }}">
            </div>

            <button type="button" (click)="update();" class="btn btn-block btn-success">{{ 'T_NEW_ACCOUNT_SUBMIT' | translate }}</button>
          </div>
          <div class="card-footer p-2">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block" (click)="logout();" type="button"><span>{{'T_LOG_OUT' | translate }}</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
