<!--<div-->
  <!--[ngClass]="{'task-item&#45;&#45;editing': editing}"-->
  <!--class="user-item"-->
  <!--tabindex="0">-->

  <!--&lt;!&ndash;<div class="cell">&ndash;&gt;-->
    <!--&lt;!&ndash;<button&ndash;&gt;-->
      <!--&lt;!&ndash;*ngIf="!editing"&ndash;&gt;-->
      <!--&lt;!&ndash;(click)="toggleStatus()"&ndash;&gt;-->
      <!--&lt;!&ndash;aria-label="Mark task as completed"&ndash;&gt;-->
      <!--&lt;!&ndash;class="task-item__button"&ndash;&gt;-->
      <!--&lt;!&ndash;type="button">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="icon material-icons" [ngClass]="{'icon&#45;&#45;active': task.completed}">done</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<div class="cell">-->
    <!--<div-->
      <!--*ngIf="!editing"-->
      <!--class="user-item__name"-->
      <!--tabindex="0">-->
      <!--{{ user.name }}-->
    <!--</div>-->

    <!--<form class="user-form" *ngIf="editing" (ngSubmit)="saveName()">-->
      <!--<input-->
        <!--[(ngModel)]="name"-->
        <!--(blur)="stopEditing()"-->
        <!--(keyup.escape)="stopEditing()"-->
        <!--autocomplete="off"-->
        <!--autoFocus-->
        <!--class="task-item__input"-->
        <!--name="name"-->
        <!--type="text">-->
    <!--</form>-->
  <!--</div>-->

  <!--<div class="cell">-->
    <!--<button-->
      <!--*ngIf="editing"-->
      <!--(click)="stopEditing()"-->
      <!--aria-label="Cancel editing"-->
      <!--class="user-item__button"-->
      <!--type="button">-->
      <!--<span class="icon material-icons">&#xe14c;</span>-->
    <!--</button>-->
    <!--<button-->
      <!--*ngIf="!editing"-->
      <!--(click)="editName()"-->
      <!--aria-label="Edit name"-->
      <!--class="task-item__button"-->
      <!--type="button">-->
      <!--<span>edit</span>-->
    <!--</button>-->
    <!--<button-->
      <!--*ngIf="!editing"-->
      <!--(click)="delete.emit()"-->
      <!--aria-label="Delete name"-->
      <!--class="user-item__button"-->
      <!--type="button">-->
      <!--<span>delete</span>-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->
