<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"><i class="icon-home"></i> {{ 'T_HOME' | translate }}</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
         routerLink="/events"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"><i class="icon-clock"></i> {{ 'T_EVENTS' | translate }}</a>
    </li>

    <li class="nav-item nav-dropdown nav-dropdown-toggle" dropdown routerLinkActive="open" *ngIf="isAdmin">
      <a dropdownToggle class="nav-link nav-dropdown-toggle">
        <i class="icon-grid"></i> {{ 'T_ADMINISTRATION' | translate }} <span class="caret"></span>
      </a>
      <ul *dropdownMenu class="nav-dropdown-items" role="menu">
        <li role="menuitem" class="nav-item">
          <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
            <i class="icon-user"></i>
            {{ 'T_USERS' | translate }}</a>
        </li>
        <li role="menuitem" class="nav-item">
          <a class="nav-link" routerLink="/admin/groups" routerLinkActive="active">
            <i class="icon-people"></i>
            {{ 'T_GROUPS' | translate }}</a>
        </li>
        <li role="menuitem" class="nav-item">
          <a class="nav-link" routerLink="/admin/projects" routerLinkActive="active">
            <i class="icon-folder"></i>
            {{ 'T_PROJECTS' | translate }}</a>
        </li>
        <li role="menuitem" class="nav-item">
          <a class="nav-link" routerLink="/admin/events" routerLinkActive="active">
            <i class="icon-clock"></i>
            {{ 'T_EVENTS' | translate }}</a>
        </li>
        <li role="menuitem" class="nav-item">
          <a class="nav-link" routerLink="/admin/forms" routerLinkActive="active">
            <i class="icon-doc"></i>
            {{ 'T_FORMS' | translate }}</a>
        </li>
        <li role="menuitem" class="nav-item">
          <a class="nav-link" routerLink="/admin/templates" routerLinkActive="active">
            <i class="icon-note"></i>
            {{ 'T_EMAIL_TEMPLATES' | translate }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
