<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <bs-login-panel></bs-login-panel>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"><i class="icon-home"></i> {{ 'T_HOME' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active"><i class="icon-user"></i> {{ 'T_USERS' | translate }}</a>
    </li>
  </ul>
</nav>
