<div class="card" *ngIf="model">
  <div class="card-header"><b>{{ 'T_DETAILS' | translate }}</b></div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ model.name }}</h2>
      </div>
      <div class="col-md-4 text-right">
        <button type="button"
                class="btn btn-md btn-primary"
                [routerLink]="['/admin/projects/', model.id, 'edit']">{{ 'T_ACTION_EDIT' | translate }}
        </button>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-3">
        <small class="text-muted">{{ 'T_PROJECT_NAME' | translate}}</small>
        <div class="h6">{{ model.name }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_PROJECT_DESCRIPTION' | translate}}</small>
        <div class="h6">{{ model.description }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_PROJECT_AUDITOR' | translate}}</small>
        <div class="h6">{{ model.groupAuditor }}</div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header"><b>{{ 'T_PROJECT_RELATIONS' | translate }}</b></div>
  <div class="card-block">
    <button class="btn btn-primary"
            type="button"
            title="{{ 'T_ACTION_CREATE' | translate }}"
            [routerLink]="['/admin/groups/relations/create']"><i class="fa fa-exchange"></i>
      {{ 'T_ACTION_CREATE_PROJECT_RELATION' | translate }}
    </button>
    <table class="table table-striped mt-1" *ngIf="isLoaded">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'T_PROJECT_RELATION_RATING_GROUP' | translate }}</th>
          <th>{{ 'T_PROJECT_RELATION_ASSESSMENT_GROUP' | translate }}</th>
          <th>{{ 'T_PROJECT_RELATION_EVALUATION_FORM' | translate }}</th>
          <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let relation of relations">
          <td>{{ relation.groupFrom }}</td>
          <td>{{ relation.groupTo }}</td>
          <td>{{ relation.form }}</td>
          <!--<td class="actions-column">-->
            <!--<button *ngIf="model.status === UserStatus.New"-->
                    <!--type="button"-->
                    <!--class="btn btn-sm btn-success ml-1"-->
                    <!--title="{{ 'T_USER_APPROVE' | translate }}"-->
                    <!--(click)="approve(model)"><i class="fa fa-thumbs-up"></i>&nbsp;{{ 'T_USER_APPROVE' | translate }}-->
            <!--</button>-->

            <!--<button type="button"-->
                    <!--class="btn btn-sm btn-primary ml-1"-->
                    <!--title="{{ 'T_ACTION_EDIT' | translate }}"-->
                    <!--[routerLink]="['/admin/projects/', model.id, 'edit']"><i class="fa fa-pencil"></i>&nbsp;{{ 'T_ACTION_EDIT' | translate-->
              <!--}}-->
            <!--</button>-->

            <!--<button type="button"-->
                    <!--class="btn btn-sm btn-danger ml-1"-->
                    <!--bsConfirm-->
                    <!--(confirm)="delete(model.id)">-->

              <!--<i class="fa fa-trash"></i>;-->
              <!--{{ 'T_ACTION_DELETE' | translate }}-->
            <!--</button>-->
          <!--</td>-->
        </tr>

      </tbody>
    </table>
  </div>
</div>

<p *ngFor="let relation of relations">{{relation.groupFrom}}</p>
