<div class="card">
  <div class="card-header"><b>{{ 'T_EMAIL_TEMPLATES' | translate }}</b></div>
  <div class="card-block">
    <button
      class="btn btn-primary"
      type="button"
      title="{{ 'T_ACTION_ADD_EMAIL_TEMPLATE' | translate }}"
      (click)="changeMode(); modalForm.show()"><i class="fa fa-plus mr-h"></i>
      {{ 'T_ACTION_ADD_EMAIL_TEMPLATE' | translate }}
    </button>

    <table *ngIf="model.templates" class="table table-striped mt-1">
      <tbody>
        <tr *ngFor="let template of model.templates">
          <td>{{ 'T_PROJECT_EMAIL_TEMPLATE_KIND_' + template.kind.toUpperCase() | translate }}</td>
          <td><a [routerLink]="['/admin/templates', template.template.id]">{{ template.template.name }}</a></td>
          <td class="actions-column">
            <button
              type="button"
              class="btn btn-sm btn-danger ml-1"
              bsConfirm
              title="{{ 'T_ACTION_REMOVE' | translate }}"
              (confirm)="remove(model, template.template.id)"><i class="fa fa-trash"></i>&nbsp;{{ 'T_ACTION_REMOVE' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Adding email template to group modal-->
  <bs-email-templates-add-modal #modalForm
                                [parent]="model"
                                [recipient]="recipient"
                                [kind]=""
                                (emailTemplateAdded)="emailTemplateAdded($event)"></bs-email-templates-add-modal>
