<div class="card">
  <div class="card-header"><b>{{ 'T_PROJECT_RELATIONS' | translate }}</b></div>
  <div class="card-block" *ngIf="isLoaded">
    <div class="d-inline-block"
         [tooltip]="'T_ACTION_ADD' | translate"
         placement="bottom">
      <button class="btn btn-primary"
              type="button"
              role="button"
              placement="right"
              [routerLink]="['/admin/projects/', projectId, 'relations', 'create']"
              [disabled]="hasInProgressEvents">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <table [id]="listName" class="table table-striped mt-1">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'T_PROJECT_RELATION_RATING_GROUP' | translate }}</th>
          <th>{{ 'T_PROJECT_RELATION_ASSESSMENT_GROUP' | translate }}</th>
          <th>{{ 'T_PROJECT_RELATION_EVALUATION_FORM' | translate }}</th>
          <th>{{ 'T_PROJECT_RELATION_KIND' | translate }}</th>
          <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of list">
          <td>{{ model.id }}</td>
          <td><a [routerLink]="['/admin/groups', model.groupFrom.id]">{{ model.groupFrom.name }}</a></td>
          <td><a *ngIf="!!model.groupTo" [routerLink]="['/admin/groups', model.groupTo.id]">{{ model.groupTo.name }}</a></td>
          <td><a [routerLink]="['/admin/forms', model.form.id]">{{ model.form.name }}</a></td>
          <td>{{ 'T_PROJECT_RELATION_KIND_' + model.kind.toUpperCase() | translate }}</td>
          <td class="actions-column">
            <button type="button"
                    role="button"
                    class="btn btn-sm btn-success ml-1"
                    [tooltip]="'T_ACTION_DETAILS' | translate"
                    placement="bottom"
                    [routerLink]="['/admin/projects/', projectId, 'relations', model.id]">
              <i class="fa fa-hand-pointer-o"></i>
            </button>

            <button type="button"
                    role="button"
                    class="btn btn-sm btn-danger ml-1"
                    [tooltip]="'T_ACTION_DELETE' | translate"
                    placement="bottom"
                    bsConfirm
                    (confirm)="delete(model.id)"
                    *ngIf="!model.hasInProgressEvents">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="!list.length">
          <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
        </tr>
      </tbody>
    </table>

    <bs-pagination [meta]="meta"
                   (queryParamsChange)="pageQueryParamsChanged($event)"></bs-pagination>
  </div>
</div>
