<div class="card">
  <div class="card-header"><b>{{ 'T_EMAIL_TEMPLATES_FOR_AUDITOR' | translate }}</b></div>
  <div class="card-block">
    <button
      class="btn btn-primary"
      type="button"
      role="button"
      [tooltip]="'T_ACTION_ADD_EMAIL_TEMPLATE' | translate"
      placement="right"
      title="{{ 'T_ACTION_ADD_EMAIL_TEMPLATE' | translate }}"
      (click)="modalForm.show()"><i class="fa fa-plus"></i>
    </button>

    <table [id]="listName" *ngIf="model.templates" class="table table-striped mt-1">
      <thead>
        <tr>
          <th>{{ 'T_EMAIL_TEMPLATE_KIND' | translate }}</th>
          <th>{{ 'T_EMAIL_TEMPLATE' | translate }}</th>
          <th class="actions-column">{{ 'T_ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of model.templates">
          <td>{{ 'T_PROJECT_EMAIL_TEMPLATE_KIND_' + template.kind.toUpperCase() | translate }}</td>
          <td><a [routerLink]="['/admin/templates', template.template.id]">{{ template.template.name }}</a></td>
          <td class="actions-column">
            <button
              type="button"
              role="button"
              class="btn btn-sm btn-danger ml-1"
              [tooltip]="'T_ACTION_REMOVE' | translate"
              placement="bottom"
              bsConfirm
              title="{{ 'T_ACTION_REMOVE' | translate }}"
              (confirm)="removeTemplate(template.templateId)"><i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="!model.templates.length">
          <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Adding email template to group modal-->
<bs-email-templates-add-modal #modalForm
                              [usedEmailTemplate]="model.templates"
                              [recipient]="recipient"
                              (templateAdded)="emailTemplateAdded($event)"></bs-email-templates-add-modal>
