@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import 'theme';

/**
 * Override of theme styles
 */

header.navbar .navbar-brand {
  background-image: none;
  text-align: center;
  line-height: 38px;
}

.actions-column {
  width: 1%;
  white-space: nowrap;
  text-align: right;
  font-size: 0;
}

.required:after {
  content: " *";
  color: rgb(255, 0, 0) !important;
}

.badge.badge-md {
  font-size: 100%;
  line-height: 1;
  font-weight: normal;
}

.sidebar {
  .nav {
    width: 220px;
  }
  .sidebar-nav {

    .nav-dropdown-toggle {
      cursor: pointer;
      user-select: none;
    }

    .nav-dropdown-items .nav-link {
      padding-left: 30px !important;
    }

    width: 220px !important;
  }
}

.sidebar-hidden .sidebar {
  margin-left: -220px;
}

.sidebar-fixed .main, .sidebar-fixed .app-footer {
  margin-left: 220px;
}

.fade.in {
  opacity: 0.5;
}

.card-title.panel-title {
  margin-bottom: 0px !important;
}

.cke_button__addrecipient_icon,
.cke_button__addeventstart_icon,
.cke_button__addeventend_icon,
.cke_button__addeventdescription_icon {
  display: none !important;
}

.cke_button__addrecipient_label,
.cke_button__addeventstart_label,
.cke_button__addeventend_label,
.cke_button__addeventdescription_label {
  display: block !important;
}

.group-list-accordion {
  .card {
    margin-bottom: 0;
    border: none;
  }
  .card-header {
    padding: 0.25rem 0;
  }
  .list-group-item {
    border: none;
    padding: 0;
  }
}

.confirmation-modal-content {
  font-size: 0.875rem;

  .list-group-item {
    border: none;
  }
}

.accordion-group {
  &:nth-child(even) {
    .card-header {
      background-color: #ffffff;
    }
  }
  .card-block {
    padding: 0;
  }
}

.accordion-inner-group {
  .card-header {
    background-color: #ffffff;
  }
  .inner-element {
    padding-left: 2rem;
  }
  .accordion-inner-group {
    .inner-element {
      padding-left: 4rem;
    }
  }
}

.group-header {
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
}

.datepickers-container {
  z-index: 9999;
}

.empty-list {
  background-color: #ECEFF1;
}

.id-column {
  width: 4rem;
}

.name-column {
  width: 19rem;
}

.list-group-item.inline {
  border: none;
  padding: 0;
}

.list-group-item.inline .inline-user {
  padding: 0.75rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item.inline .inline-form {
  padding: 0.28125rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
