<div class="card card-default">
  <div class="card-header">
    {{ 'T_FILTER_TITLE' | translate }}
    <div class="card-actions">
      <button class="btn-minimize"
              type="button"
              role="button"
              (click)="isCollapsed = !isCollapsed">
        <i [ngClass]="{ 'icon-arrow-up': isCollapsed, 'icon-arrow-down': !isCollapsed}"></i>
      </button>
    </div>
  </div>

  <div [collapse]="!isCollapsed"
       class="card-block">

    <form class="form-horizontal" (ngSubmit)="apply()">
      <div class="form-group row"
           *ngFor="let filter of filters">

        <label class="col-md-3 form-control-label" for="{{ filter.field }}">{{ filter.name | translate }}</label>

        <div class="col-md-9" [ngSwitch]="filter.type">
          <!-- String -->
          <ng-template [ngSwitchCase]="FilterType.String">
            <div class="input-group">
              <input type="text" [(ngModel)]="filter.value" name="{{ filter.field }}" class="form-control" id="{{ filter.field }}">
              <button type="button"
                      role="button"
                      class="btn btn-sm"
                      (click)="resetFilter(filter)">
                <i class="icon-reload"></i>
              </button>
            </div>
          </ng-template>

          <!-- Number -->
          <ng-template [ngSwitchCase]="FilterType.Number">
            <div class="input-group">
              <input type="text" [(ngModel)]="filter.value" name="{{ filter.field }}" class="form-control" id="{{ filter.field }}">
              <button type="button"
                      role="button"
                      class="btn btn-sm"
                      (click)="resetFilter(filter)">
                <i class="icon-reload"></i>
              </button>
            </div>
          </ng-template>

          <!-- Select -->
          <ng-template [ngSwitchCase]="FilterType.Select">
            <div class="input-group">
              <select [(ngModel)]="filter.value"
                      name="{{ filter.field }}"
                      class="form-control"
                      id="{{ filter.field }}">
                <option *ngFor="let valueItem of filter.values" [ngValue]="valueItem.value">{{ valueItem.name | translate }}</option>
              </select>
              <button type="button"
                      role="button"
                      class="btn btn-sm"
                      (click)="resetFilter(filter)">
                <i class="icon-reload"></i>
              </button>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="text-right">
        <button type="button"
                role="button"
                class="btn btn-sm btn-secondary"
                (click)="reset();">
          {{ 'T_ACTION_RESET' | translate }}
        </button>
        <button type="submit"
                class="btn btn-sm btn-primary ml-1"
                role="button">
          {{ 'T_FILTER_APPLY' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
