<li class="nav-item language-selector"
    [ngClass]="{ 'dropdown': directionDown,
                 'dropup pl-1': !directionDown }"
    dropdown>
  <a class="nav-link dropdown-toggle nav-link"
     role="button"
     dropdownToggle
  >
    {{ 'T_LANG_' + selected.toString().toUpperCase() | translate }}
  </a>

  <div
    class="dropdown-menu"
    role="menu"
    *dropdownMenu
    [ngClass]="{ 'dropdown-menu-right': directionDown }">
    <button class="dropdown-item"
            role="menuitem"
            [ngClass]="{ 'pt-0 pb-0': !directionDown }"
            *ngFor="let language of languages"
            [disabled]="language.selected"
            (click)="changeLanguage(language.id); $event.preventDefault();">
      {{ language.name | translate }}
    </button>
  </div>
</li>
