<div *ngIf="model">
  <div class="card">
    <div class="card-header"><b>{{ 'T_DETAILS' | translate }}</b></div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-8">
          <h2>{{ model.name }}</h2>
        </div>
        <div class="col-md-4 text-right">
          <button type="button"
                  role="button"
                  [tooltip]="'T_ACTION_EDIT' | translate"
                  placement="bottom"
                  class="btn btn-primary"
                  [routerLink]="['/admin/groups/', model.id, 'edit']">
            <i class="fa fa-pencil"></i>
          </button>
          <button type="button"
                  role="button"
                  class="btn btn-danger margin-left-15"
                  bsConfirm
                  [tooltip]="'T_ACTION_DELETE' | translate"
                  placement="bottom"
                  [message]="'T_CONFIRM_MESSAGE_DELETE_GROUP' | translate"
                  (confirm)="delete(model.id)">
            <i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>

  <bs-group-list *ngIf="model.level < 2" embedded [parentId]="model?.id"></bs-group-list>
  <bs-group-user-list embedded [groupId]="model?.id"></bs-group-user-list>
  <bs-group-project-list embedded [groupId]="model?.id"></bs-group-project-list>
</div>

