<div [ngSwitch]="newUser">
  <ng-template ngSwitchDefault>
    <bs-filters [filters]="filters"
                (filterChange)="filterChange($event)"></bs-filters>
    <div class="card">
      <div class="card-header"><b>{{ 'T_USERS' | translate }}</b></div>
      <div class="card-block" *ngIf="isLoaded">
        <table class="table table-striped mt-1">
          <thead>
            <tr>
              <th></th>
              <th>{{ 'T_USER_NAME' | translate }}</th>
              <th>{{ 'T_USERS_GROUPS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of list">
              <td class="images-column">
                <img [src]="model.picture" [alt]="model.name"/>
              </td>
              <td><a [routerLink]="['/users', model.id]">{{ model.name }}</a>
                <small class="text-muted" *ngIf="model.id === currentUserId">({{ 'T_USERS_IS_YOU' | translate }})</small>
              </td>
              <td>
                {{ model.groups }}
              </td>
            </tr>

            <tr *ngIf="!list.length">
              <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
            </tr>
          </tbody>
        </table>

        <bs-pagination [meta]="meta"
                       (queryParamsChange)="pageQueryParamsChanged($event)"></bs-pagination>
      </div>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="true">
    <div class="alert alert-warning fade show" role="alert">
      {{ 'T_WAIT_APPROVAL_MESSAGE' | translate }}
    </div>
  </ng-template>
</div>
