<div class="card" *ngIf="model">
  <div class="card-header"><b>{{ 'T_DETAILS' | translate }}</b></div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ model.name }}</h2>
      </div>
      <div class="col-md-4 text-right">
        <button type="button"
                class="btn btn-md btn-primary"
                [routerLink]="['/admin/templates/', model.id, 'edit']">{{ 'T_ACTION_EDIT' | translate }}
        </button>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-3">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_NAME' | translate}}</small>
        <div class="h6">{{ model.name }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_SUBJECT' | translate}}</small>
        <div class="h6">{{ model.subject }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_KIND' | translate}}</small>
        <div class="h6">{{ 'T_EMAIL_TEMPLATE_KIND_' + model.kind.toUpperCase() | translate }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_RECIPIENT' | translate}}</small>
        <div class="h6">{{ 'T_EMAIL_TEMPLATE_RECIPIENT_' + model.recipient.toUpperCase() | translate }}</div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-6">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_MESSAGE' | translate}}</small>
        <div class="h6">{{ model.body }}</div>
      </div>
    </div>
  </div>
</div>



