<div class="card" *ngIf="model">
  <div class="card-header"><b>{{ 'T_DETAILS' | translate }}</b></div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ model.name }}</h2>
      </div>
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-warning mr-1"
                bsConfirm
                [message]="'T_FORM_CONFIRM_CLONE_MESSAGE' | translate"
                (confirm)="clone(model);">
          <i class="mr-h fa fa-copy"></i> {{ 'T_ACTION_CLONE' | translate }}
        </button>
        <button type="button"
                class="btn btn-md btn-primary"
                [routerLink]="['/admin/templates/', model.id, 'edit']">{{ 'T_ACTION_EDIT' | translate }}
        </button>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-3">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_SUBJECT' | translate}}</small>
        <div class="h6">{{ model.subject }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_KIND' | translate}}</small>
        <div class="h6">{{ 'T_EMAIL_TEMPLATE_KIND_' + model.kind.toUpperCase() | translate }}</div>
      </div>

      <div class="col-md-3">
        <small class="text-muted">{{ 'T_EMAIL_TEMPLATE_RECIPIENT' | translate}}</small>
        <div class="h6">{{ 'T_EMAIL_TEMPLATE_RECIPIENT_' + model.recipient.toUpperCase() | translate }}</div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <span class="h6 pb-0">{{ 'T_EMAIL_TEMPLATE_MESSAGE' | translate}}</span>
        <hr class="mt-h"/>
        <div class="mt-1" [innerHtml]="model.body"></div>
      </div>
    </div>
  </div>
</div>



