<div class="card" *ngIf="isLoaded">
  <div class="card-header">
    <b [ngSwitch]="editMode">
      <ng-template [ngSwitchCase]="true">{{ 'T_ACTION_EDIT' | translate }}
        <span *ngIf="model">{{ model.name }}</span>
      </ng-template>
      <ng-template ngSwitchDefault>{{ 'T_ACTION_CREATE' | translate }}</ng-template>
    </b>
  </div>

  <div class="card-block">
    <form class="form form-horizontal"
          (ngSubmit)="save();" #eventForm="ngForm">

      <!-- Description -->
      <div class="form-group row"
           [ngClass]="{'has-success': description.valid, 'has-danger': !description.valid && description.touched }">
        <label for="description" class="col-form-label col-md-3">{{ 'T_EVENT_DESCRIPTION' | translate }}</label>
        <div class="col-md-9">
          <textarea type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    #description="ngModel"
                    placeholder="{{ 'T_EVENT_ENTER_DESCRIPTION' | translate }}"
                    [(ngModel)]="model.description">
          </textarea>
        </div>
      </div>

      <!-- Period of event  -->

      <!-- Begin -->
      <div class="form-group row"
           [ngClass]="{'has-success': start.valid, 'has-danger': !start.valid && start.touched }">
        <label class="col-form-label col-md-3 required">{{ 'T_EVENT_START' | translate }}</label>
        <div class="col-md-9">
          <bs-datetime #start="ngModel"
                       required
                       name="start"
                       [(ngModel)]="model.start"
                       [disabled]="model.status === EventStatus.InProgress"></bs-datetime>

          <div class="form-errors"
               *ngIf="start.errors && start.touched">
            <div class="form-control-feedback" *ngIf="start.errors['required']">{{ 'T_FORM_FIELD_IS_REQUIRED' | translate }}</div>
            <div class="form-control-feedback" *ngIf="start.errors['format']"> {{ 'T_ERROR_INVALID_DATE' | translate }}</div>
          </div>
        </div>
      </div>

      <!-- End -->
      <div class="form-group row"
           [ngClass]="{'has-success': end.valid, 'has-danger': !end.valid }">
        <label class="col-form-label col-md-3 required">{{ 'T_EVENT_END' | translate }}</label>
        <div class="col-md-9">
          <bs-datetime #end="ngModel"
                       name="end"
                       required
                       [(ngModel)]="model.end"></bs-datetime>
          <div class="form-errors"
               *ngIf="end.errors && end.touched">
            <div class="form-control-feedback" *ngIf="end.errors['required']">{{ 'T_FORM_FIELD_IS_REQUIRED' | translate }}</div>
            <div class="form-control-feedback" *ngIf="end.errors['format']"> {{ 'T_ERROR_INVALID_DATE' | translate }}</div>
          </div>
        </div>
      </div>


      <!-- Can Revote -->
      <div class="form-group row">
        <label for="canRevote" class="col-form-label col-md-3">{{ 'T_EVENT_CAN_REVOTE' | translate }}</label>
        <div class="col-md-9">
          <label class="switch switch-default switch-primary">
            <input id="canRevote" name="canRevote" type="checkbox" class="switch-input" checked="true" [(ngModel)]="model.canRevote">
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
      </div>

      <hr/>

      <div class="text-right mt-1">
        <button type="submit"
                class="btn btn-primary mt-0"
                [disabled]="!eventForm.valid">
          <span [ngSwitch]="editMode">
            <ng-template [ngSwitchCase]="true">{{ 'T_ACTION_UPDATE' | translate }}</ng-template>
            <ng-template ngSwitchDefault>{{ 'T_ACTION_CREATE' | translate }}</ng-template>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>

