<bs-filters [filters]="filters"
            (filterChange)="filterChange($event)"></bs-filters>

<div class="card">
  <div class="card-header"><b>{{ 'T_EVENTS' | translate }}</b></div>
  <div class="card-block" *ngIf="isLoaded">
    <button class="btn btn-primary"
            type="button"
            title="{{ 'T_ACTION_CREATE' | translate }}"
            [routerLink]="['/admin/events/create']">
      <i class="fa fa-file-o mr-h"></i> {{ 'T_ACTION_CREATE' | translate }}
    </button>
    <table class="table table-striped mt-1">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'T_EVENT_DESCRIPTION' | translate }}</th>
          <th>{{ 'T_EVENT_START' | translate }}</th>
          <th>{{ 'T_EVENT_END' | translate }}</th>
          <th>{{ 'T_EVENT_STATUS' | translate }}</th>
          <th class="actions-column">{{ 'T_ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of list">
          <td>{{ model.id }}</td>
          <td>{{ model.description }}</td>
          <td>{{ model.start | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>{{ model.end | date: 'dd.MM.yyyy HH:mm'  }}</td>
          <td>
            <span class="badge badge-pill"
                  [ngClass]="{
                    'badge-primary': model.status === EventStatus.NotStarted,
                    'badge-success': model.status === EventStatus.Completed,
                    'badge-warning': model.status === EventStatus.InProgress
              }">
              {{ 'T_EVENT_STATUS_' + model.status?.toUpperCase() | translate }}
            </span>
          </td>
          <td class="actions-column">
            <button type="button"
                    class="btn btn-sm btn-success ml-1"
                    title="{{ 'T_ACTION_DETAILS' | translate }}"
                    [routerLink]="['/admin/events', model.id]">
              <i class="fa fa-hand-pointer-o"></i> {{ 'T_ACTION_DETAILS' | translate}}
            </button>
            <button type="button"
                    class="btn btn-sm btn-primary ml-1"
                    title="{{ 'T_ACTION_EDIT' | translate }}"
                    [routerLink]="['/admin/events/', model.id, 'edit']">
              <i class="fa fa-pencil"></i>&nbsp;{{ 'T_ACTION_EDIT' | translate }}
            </button>

            <button type="button"
                    class="btn btn-sm btn-danger ml-1"
                    bsConfirm
                    (confirm)="delete(model.id)">

              <i class="fa fa-trash"></i>&nbsp;
              {{ 'T_ACTION_DELETE' | translate }}
            </button>
          </td>
        </tr>

        <tr *ngIf="!list.length">
          <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
        </tr>
      </tbody>
    </table>

    <bs-pagination [meta]="meta"
                   (queryParamsChange)="pageQueryParamsChanged($event)"></bs-pagination>
  </div>
</div>


