<div *ngIf="isLoaded">
  <button *ngIf="!readonly"
          class="btn btn-primary mb-1"
          type="button"
          [disabled]="event.status === EventStatus.InProgress && !readonly"
          title="{{ 'T_ACTION_ADD_PROJECTS_TO_EVENT' | translate }}"
          (click)="modalForm.show()">
    <i class="fa fa-plus mr-h"></i>{{ 'T_ACTION_ADD_PROJECTS_TO_EVENT' | translate }}
  </button>

  <!--Event project list-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'T_PROJECT_NAME' | translate }}</th>
        <th class="actions-column"
            *ngIf="event.status !== EventStatus.InProgress && !readonly">{{ 'T_ACTION' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of list">
        <td>{{ project.id }}</td>
        <td><a [routerLink]="['/admin/projects', project.id]">{{ project.name }}</a></td>
        <td class="actions-column" *ngIf="event.status !== EventStatus.InProgress && !readonly">
          <button type="button"
                  class="btn btn-sm btn-danger ml-1"
                  bsConfirm
                  (confirm)="delete(project.id)">
            <i class="fa fa-trash"></i>&nbsp;
            {{ 'T_ACTION_REMOVE' | translate }}
          </button>
        </td>
      </tr>

      <tr *ngIf="!list.length">
        <td colspan="25" class="text-center">{{ 'T_EMPTY' | translate }}</td>
      </tr>
    </tbody>
  </table>

  <bs-pagination [meta]="meta"
                 (queryParamsChange)="pageQueryParamsChanged($event)"></bs-pagination>
</div>
<!-- Adding projects to event modal-->
<bs-projects-add-modal #modalForm
                       [eventId]="event.id"
                       (projectsAdded)="projectsAdded()"></bs-projects-add-modal>


