<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="">
      {{ 'T_STAFF_ASSESSMENT_SYSTEM' | translate }}
    </a>
  </li>
    <li class="breadcrumb-item"
        *ngFor="let breadcrumb of breadcrumbs; let last = last"
        [ngSwitch]="last">
           <ng-template [ngSwitchCase]="true">{{breadcrumb.label | translate}}</ng-template>
           <ng-template ngSwitchDefault>
             <a [routerLink]="[breadcrumb.url]">
              {{breadcrumb.label | translate}}
             </a>
           </ng-template>

    </li>
</ol>
